.link {
  display: inline-block;
  color: var(--emphasized-foreground);
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-size: inherit;
}

.link .pointer {
  user-select: none;
  font-family: system-ui;
  font-weight: 300;
  color: inherit;
}
