.link {
  display: inline-block;
  color: var(--emphasized-foreground);
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-size: inherit;
  line-height: var(--line-height);
}

.pointer {
  user-select: none;
  font-family: system-ui;
  font-weight: 300;
  margin-left: 0.25rem;
  color: inherit;
  display: inline-flex;
  translate: 0px 0.25rem;
}
