.og {
  width: 1200px;
  height: 630px;
  border: 1px solid var(--soft-background);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: calc(var(--spacing-major) * 2);
}

.meta {
  width: 100%;
}

.meta h1 {
  font-size: calc(var(--font-size-heading-1) * 2) !important;
}

.meta p {
  font-size: calc(var(--font-size-normal) * 2) !important;
  color: var(--disabled-foreground);
}
