.quote {
  padding: 1rem;
  background: var(--soft-background);
  border-radius: var(--border-radius);
  border-left: var(--border-radius) solid var(--foreground);
  display: flex;
  gap: 1rem;
  margin-bottom: var(--spacing-minor);
}

.compact {
  margin-bottom: 0;
}

.icon {
  user-select: none;
}

.text {
  color: var(--text-foreground);
}
