.figure {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.imageContainer {
  border-radius: var(--border-radius) !important;
  overflow: hidden !important;
}

.image {
  position: relative;
  width: 100% !important;
  height: auto !important;
}

.full {
  border-radius: 0 !important;
}

.wrapper {
  width: 80% !important;
  margin: 0px auto;
  height: fit-content;
  margin-bottom: 1rem;
}

.caption {
  margin-top: var(--spacing-minor);
  color: var(--disabled-foreground);
}
