.button {
  border: none;
  background: var(--foreground);
  border: 1px solid var(--foreground);
  color: var(--background);
  border-radius: var(--border-radius);
  padding: 1px 14px;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.button:not(:disabled):hover {
  background: none;
  border: 1px solid var(--foreground);
  color: var(--foreground);
}

.button:disabled {
  opacity: 0.2;
  cursor: initial;
}
