.article {
  margin-bottom: var(--spacing-minor);
  line-height: 1em !important;
}

.container {
  margin-bottom: var(--spacing-minor);
  display: flex;
  gap: var(--spacing-minor);
}

.thumbnailContainer {
  position: relative;
  display: flex;
  width: 156px !important;
  aspect-ratio: 1 !important;
}

.thumbnail {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-radius: var(--border-radius);
}

.thumbnail img {
  width: 400px !important;
}

.article h6 {
  display: inline-block;
}

.title {
  margin-bottom: 0.5rem;
  color: var(--disabled-foreground);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.date,
.duration {
  font-weight: normal;
  color: var(--disabled-foreground);
  margin-bottom: 0.5rem;
}

.description {
  color: var(--text-foreground);
  margin-bottom: 0.5rem;
}

.tags {
  margin-bottom: 0.5rem;
}

.hero {
  border-radius: var(--border-radius);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tag {
  white-space: nowrap;
  padding: 0.25rem 0.75rem;
  margin-right: var(--spacing-nano);
  border-radius: var(--border-radius);
  background: var(--soft-background);
  color: var(--text-foreground);
  transition: all var(--transition-duration) ease-in-out;
}

.tag:hover {
  background: var(--soft-background-hover);
  transition: all var(--transition-duration) ease-in-out;
}
