.paragraph {
  color: var(--text-foreground);
  margin-bottom: var(--spacing-minor);
}

.compact {
  margin-bottom: 0;
}

.expandable {
  color: var(--text-foreground);
}

.showMore {
  color: var(--disabled-foreground);
  cursor: pointer;
  position: relative;
  z-index: 5;
  user-select: none;
  border: none;
  background: none;
  padding: 0;
  white-space: nowrap;
}
