.figure {
  text-align: center;
  margin-bottom: 1rem;
}

.image {
  border-radius: var(--border-radius) !important;
  position: relative;
}

.full {
  border-radius: 0 !important;
}

.wrapper {
  width: 80% !important;
  margin: 0px auto;
  height: fit-content;
  margin-bottom: 1rem;
}

.caption {
  color: var(--disabled-foreground);
}
