.heading,
.heading a {
  font-weight: bold;
  color: var(--emphasized-foreground);
  margin-bottom: var(--spacing-minor);
  margin-top: var(--spacing-major);
  font-size: inherit;
  position: relative;
  line-height: 1em;
}

.inline {
  display: inline-block;
}

.heading a {
  text-decoration: none;
}

.heading a:hover {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.icon {
  color: var(--emphasized-foreground);
  height: 100%;
  position: absolute;
  display: none;
  user-select: none;
  right: 0;
}

.heading:has(a):hover .icon {
  display: initial;
}

.compact {
  margin-bottom: 0;
  margin-top: 0;
}

.light {
  color: var(--disabled-foreground);
}

.heading.level-1 {
  font-size: var(--font-size-heading-1);
}

.heading.level-2 {
  font-size: var(--font-size-heading-2);
}

.heading.level-3 {
  font-size: var(--font-size-heading-3);
}

.heading.level-4 {
  font-size: var(--font-size-heading-4);
}

.heading.level-5 {
  font-size: var(--font-size-heading-5);
}

.heading.level-6 {
  font-size: var(--font-size-heading-6);
}
